<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Login</h3>
                            
                            <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)" >
                                <div class="form-group mb-3">
                                    <input id="inputEmail" type="email" name="username" ngModel
                                   
                                     #usernameInput="ngModel" placeholder="Email address" required autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                     <span class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">
                                        Please enter a username</span>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password"  name="password" ngModel  #passwordInput="ngModel" placeholder="Password" required class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
                                    <span class="help-block" style="color:red;" *ngIf="passwordInput.invalid && passwordInput.touched">
                                        Please enter a password</span>
                                </div>
                                
                               
                                <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                

                                <div class="text-center d-flex justify-content-between mt-4"><p>Create Acount! <a href="http://localhost:4200/register" class="font-italic text-muted"> 
                                    <u>register</u></a></p></div>
                                <div class="text-center d-flex justify-content-between mt-4"><p>Reset Password ! <a href="http://localhost:4200/forgotpassword" class="font-italic text-muted"> 
                                        <u>resetpassword</u></a></p></div>
                             
                            </form>
                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>