<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Login Form HTML CSS</title>
      <link rel="stylesheet" href="forgot-password.component.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img">
         <div class="content">
            <header>Forgot Password Form</header>
            <form  #forgotForm="ngForm" (ngSubmit)="forgot(forgotForm)">
               <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="email" name="email" ngModel
                                   
                  #usernameInput="ngModel" placeholder="Email address" required autofocus=""  class="form-control rounded-pill border-0 shadow-sm px-4">
                  <div><div class="help-block" style="color:red;" *ngIf="usernameInput.invalid && usernameInput.touched">
                     Enter email</div></div>
               </div>
               
               <div class="pass">
                 
               </div>
               <div class="field">
                  <input type="submit" value="Forgot Password">
               </div>
            </form>
           <div></div>
            <div class="signup">
               Login?
               <a href="http://localhost:4200/login">Login Now</a>
            </div>
         </div>
      </div>
      <script>
         const pass_field = document.querySelector('.pass-key');
         const showBtn = document.querySelector('.show');
         showBtn.addEventListener('click', function(){
          if(pass_field.type === "password"){
            pass_field.type = "text";
            showBtn.textContent = "HIDE";
            showBtn.style.color = "#3498db";
          }else{
            pass_field.type = "password";
            showBtn.textContent = "SHOW";
            showBtn.style.color = "#222";
          }
         });
      </script>
   </body>
</html>