.login,
.image {
  min-height: 100vh;
}
.bg-image {
 background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.invalid-feedback
{
  margin-left: 25px;
}